<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>Uchegbu family tree home page</title>
    <style>
    html, body {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
    <div class=" grid grid-flow-row ">
        <!-- Navbar -->
        <div class="bg-primary1 text-white grid grid-flow-row">
            <div class="grid grid-flow-col grid-cols-4 h-24 px-10">
          <div class="grid grid-flow-col  items-center">
                    <img src="/img/logo.png" alt="">
          </div>
                <div class="col-span-2 grid justify-center items-center">
                    <ul class="grid grid-flow-col gap-28">
                        <li class="transition hover:underline"><a href="/">Home</a></li>
                        {{#if isloggedIn}}
                        <li class="transition hover:underline"><a href="/edit_tree">Edit Tree</a></li>
                        <li class="transition hover:underline"><a href="/uchegbu_family_tree">View Tree</a></li>
                        {{else}}
                        <li class="transition hover:underline"><a href="/about">About Us</a></li>
                        <li class="transition hover:underline"><a href="/about">Learn More</a></li>
                        {{/if}}
                    </ul>
                </div>
                <div></div>
                <div class="grid grid-flow-col pl-4 items-center">
                    {{#if isloggedIn}}
                        <a href="/logout" onclick="confirmLogout()" class="bg-white rounded-md text-primary1 w-44 p-4 text-center shadow-md">Logout</a>
                    {{else}}
                        <a href="/login" class="bg-white rounded-md text-primary1 w-44 p-4 text-center shadow-md">Login</a>
                        <a class="" href="/signup">Sign Up</a>
                    {{/if}}
                </div>
            </div>
      <div class="bg-primary2 grid grid-flow-col justify-center h-10 items-center">
                <img class="" src="/img/star.png" alt="">
                <p>Documenting generations and more to come.....</p>
            </div>
        </div>
        <!-- main page -->
        <div class="">
        <div class="grid grid-flow-col p-28 text-primary2 h-64 absolute">
                <div>
                    <img class="w-96 -ml-10 rounded-sm" src="/img/home_pic.jpg" alt="">
                </div>
                <div class="p-12 pl-36">
                    <h1 class="text-6xl font-bold h-24 mt-6">About Us<img class="inline-block" src="/img/leaf.png" alt=""></h1>
                    <h3 class="text-lg text-primary1 tracking-widest">THE FAMILY TREE APP</h3>
                    <p>Welcome to our family tree software! We are a passionate team of developers and genealogy enthusiasts dedicated to providing a seamless and enjoyable experience for creating and exploring your family history.
                        
                        Our software is designed to empower individuals, genealogists, and families worldwide to uncover their heritage, strengthen familial bonds, and preserve their unique stories. We believe that everyone deserves to know and celebrate their roots, and our user-friendly platform makes it easier than ever to build comprehensive family trees.
                        
                        With our intuitive interface, you can effortlessly document and visualize your family connections. Add family members, link relationships, and include important details such as dates, photos, and personal stories. Dive into the past, discover intriguing connections, and preserve cherished memories for future generations.
                        
                        We understand the importance of privacy and data security when it comes to handling sensitive family information. You can trust that our software employs robust security measures to safeguard your data. Your family tree and personal journey remain private and secure within our platform.
                        
                        Beyond providing exceptional software, we are committed to supporting you on your genealogy journey. Our dedicated customer support team is here to assist you, answer your questions, and ensure that you make the most of our software's capabilities. We value your feedback and continuously strive to improve our software based on user insights and industry best practices.
                        
                        At our family tree software, we believe that your family's story is a testament to the connections that shape your identity. We are honored to be a part of your journey as you unravel the stories and relationships that define your unique heritage.
                        
                        Thank you for choosing our family tree software. Start exploring your family's history today and embark on a meaningful journey of discovery.
                        <br><br>
                        Sincerely,<br>
                        The Family Tree Software Team</p>
                </div>
            </div>
            <div class=" z-10 grid grid-flow-row w-full bg-transparent text-primary2 h-64 absolute">
               <div class="grid grid-flow-row grid-rows-6">
                <div class="border-green-700 grid grid-flow-col justify-end">
                    <div class="h-8 w-80 bg-white shadow-xl border-x-2 border-b-4"></div>
                </div>
                <div class="border-blue-700">
                    <div class="z-10 h-28 w-36 opacity-60 blur-sm mx-8 bg-white shadow-2xl"></div>
                </div>
                <div class="border-red-700">
                    <div class="z-10 h-20 mx-96 w-28 opacity-60 blur-sm mx-8 bg-white shadow-2xl"></div>
                </div>
                <div class="border-green-700 grid grid-flow-col justify-end">
                </div>
               </div>
            </div>
        </div>
        
        <!-- footer -->
        <!-- <div>
            <p>Designed By: ITS.</p>
        </div> -->
    </div>
    <script>
        function confirmLogout() {
            if (confirm('Are you sure you want to log out?')) {
                window.location.href = '/logout';
            }
        }
    </script>
</body>
</html>