<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="home_nav">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/display">Edit Tree</a></li>
				</ul>
			</nav>
		</div>
    <div id="container">
        <h1 >The <span id="family_name">family</span>'s</h1>
        <h4>FAMILY TREE</h4>
        <p class="info">Documenting generations and more to come</p>
        <div id="a-wrapper">
          <a href="/family_tree" class="btn">Click here to view</a>
          <a href="/login" class="btn">Login</a>
        </div>
        <form method="get" action="/family_tree_search">
            <i class="fas fa-search"></i>
                <input type="text" onkeyup="search()" name="search" id="search-name" placeholder="Search Family Name"/>
        </form>
    </div>
    <script>
      document.body.style.zoom = "100%";
      const element = document.getElementById("family_name");
      element.innerHTML = "Uchegbu";
    </script>
    <!--<script src="src/index.js"></script>-->
  </body>
</html>