<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/output.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <div class=" grid grid-flow-row ">
        <!-- Navbar -->
        <div class="bg-white text-primary2 text-2xl grid grid-flow-row">
            <div class="grid grid-flow-col grid-cols-3 h-24 px-10">
                <div class="grid grid-flow-col col-span-2 items-center">
                    <img src="/img/treeDark.png" alt="">
                    <ul class="grid grid-flow-col">
                        <li class="transition hover:underline"><a href="/">Home</a></li>
                        <li class="transition hover:underline"><a href="/about">About Us</a></li>
                        <li class="transition hover:underline"><a href="/about">Learn More</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <!-- main page -->
        <div class="grid justify-center">
            
            <div class=" grid grid-flow-row w-full bg-transparent text-primary2 py-12">
                <h1 class="text-6xl ">{{ text }}</h1>
                <a href="/login" class="h-12 w-56 bg-primary2 text-white rounded-lg my-8 text-center pt-2 mx-auto">Click here to continue</a>
            </div>
            
        </div>
        
        <!-- footer -->
        <!-- <div>
            <p>Designed By: ITS.</p>
        </div> -->
    </div>
</body>
</html>