*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* width: fit-content; */
    height: 100%;
    padding: 30px;
    justify-content: left;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    background-image: url('../img/background.jpg');
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
}

form{
    width: 100%;
    /* background-color: #fd4336; */
    display: flex;
    flex-direction: row;
}

.topContainer{
    display: flex;
    flex-direction: column;
}

.container{
    min-width: 600px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    /* width: 600px; */
    padding: 20px;
    box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    height: fit-content;
}

.wrap{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 2px solid #a19c9c;
}

.add{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #a19c9c;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addNew{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #a19c9c;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* Dynamic class creation */

.flex{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 15px;
    flex-direction: row;
}

.delete{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fd4336;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

input{
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #a19c9c;
    color: #fff;
    width: 50%;
    border-radius: 5px;
}

input:focus{
    outline: 1px solid #fff;
}

.addNode{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #a19c9c;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#firstNode{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #a19c9c;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deleteNode{
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #fd4336;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}
.submit{
    height: 40px;
    width: 120px;
    outline: none;
    border: 1px solid white;
    background-color: rgb(25, 167, 25);
    margin: 70px 60px;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}