@font-face {
    font-family: Satoshi;
    src: url(../Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

body,html{
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    background-image: url('../img/background.jpg');
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    
}

#container{
    width: 100%;
    height: 100%;
}

#family_tree{
    width: 30000px;
    /* left: -334px;
    top: -5000px; */
    height: 59000;
    margin-top: 100%;
    max-width: 500px;
    
    background: linear-gradient(94.56deg, rgba(255, 255, 255, 0.1) 11.83%, rgba(255, 255, 255, 0.05) 91.44%);
    opacity: 0.4;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
    z-index: -1;
}

p{
    font-size: 0px;
    color: blue;
}

div{
    margin: 10% auto ;
    text-align: center;
    /*border: 2px solid red;*/
}

h1{
    font-size: 500%;
    margin: 10px;
}


h4{
    font-size: 200%;
    margin: 15px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 180px;
    padding: 5px;
}


a:hover{
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    border-radius: 180px; 
    text-decoration: none;
}

path {
    stroke: #FFFFFF;
    fill: none;
    stroke-width: 75px;
    z-index: -1;
  }
  
.home_nav{
    font-size: 900px;
    display: flex;
    flex-direction: row;
    width: 30000px;
    gap: 20px;
    
}

.home_nav nav ul li{
    display: inline;
    padding: 40px 60px;
}

.home_nav nav ul li a{
    padding: 40px 600px;
}